#criarCampanhaPage {
    padding: 40px;
    background-color: #7b4f3b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
}

#criarCampanhaPage h2 {
    color: #f7e0c4;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

#criarCampanhaForm .form-group {
    margin-bottom: 20px;
}

#criarCampanhaForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #f7e0c4;
}

#criarCampanhaForm input[type="text"],
#criarCampanhaForm input[type="number"],
#criarCampanhaForm textarea {
    background-color: #7b4f3b;
    width: 100%;
    padding: 12px;
    border: 1px solid #7b4f3b;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: "Comic Relief", system-ui;
}

#criarCampanhaForm input[type="text"]::placeholder,
#criarCampanhaForm input[type="number"]::placeholder,
#criarCampanhaForm textarea::placeholder {
    color: #f7e0c4;
}

#criarCampanhaForm input[type="text"]:focus,
#criarCampanhaForm input[type="number"]:focus,
#criarCampanhaForm textarea:focus {
    border-bottom-color: #f5a05b;
    color: #ffffff;
    outline: none;
    font-family: "Comic Relief", system-ui;
}

#criarCampanhaForm textarea {
    resize: vertical;
    min-height: 150px;
}

#criarCampanhaForm .btn-primary {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #a06e57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#criarCampanhaForm .btn-primary:hover {
    background-color: #7b4f3b;
}

/* TODO: Tema Escuro */

body.dark-mode #criarCampanhaPage {
    background-color: #42352e;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode #criarCampanhaPage h2 {
    color: #e0e0e0;
}

body.dark-mode #criarCampanhaForm label {
    color: #e0e0e0;
}

body.dark-mode #criarCampanhaForm input[type="text"],
body.dark-mode #criarCampanhaForm input[type="number"],
body.dark-mode #criarCampanhaForm textarea {
    background-color: #42352e;
    border-color: #42352e;
    border-bottom: 2px solid #ccc;
    color: #e0e0e0;
}

body.dark-mode #criarCampanhaForm input[type="text"]:focus,
body.dark-mode #criarCampanhaForm input[type="number"]:focus,
body.dark-mode #criarCampanhaForm textarea:focus {
    border-bottom-color: #FFD54F;
}

body.dark-mode #criarCampanhaForm input[type="text"]::placeholder,
body.dark-mode #criarCampanhaForm input[type="number"]::placeholder,
body.dark-mode #criarCampanhaForm textarea::placeholder {
    color: #ffffff;
}

body.dark-mode #criarCampanhaForm .btn-primary {
    background-color: #424242;
    color: #e0e0e0;
}

body.dark-mode #criarCampanhaForm .btn-primary:hover {
    background-color: #555;
}
